// Override default variables before the import
$body-bg: #fff;
$input-border-radius: 50rem;
// $form-check-input-checked-bg-color: #f3a843;
$form-check-input-checked-bg-color: #fff;
$form-check-input-checked-color: #000;
$form-check-input-checked-border-color: #000;
// $form-check-radio-border-radius: 0;
